@using CocukYazini.Models.Entity
@{
    ViewBag.Title = "Sorusturma";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




    <h4>Soruşturma Adı</h4>
    <hr />
    <table class="table table-bordered">
        <tr>
            <th>Soruşturma Adı</th>
            <th>Tarihi</th>
            <th>İşlem</th>

        </tr>
        <tbody>
            @foreach (var sorusturma in Model)
            {
                <tr class="kategoriler">
                    <td>@sorusturma.sorusturmaname</td>
                    <td>@sorusturma.datetime</td>

                    <td>
                        <a href="@Url.Action("SorusturmaUpdate", "Admin" , new {id = sorusturma.id})">
                            <i class="fa fa-pen" aria-hidden="true"></i>
                            <a href="@Url.Action("SorusturmaSil", "Admin" , new {id = sorusturma.id})" onclick="return confirm('Bu Soruşturmayı Silmek İstediğinize Emin Misiniz?')"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br /><br />
    <a href="@Url.Action("YeniSorusturma", "Admin")"> <button class="btn btn-info">Yeni Soruşturma Ekle</button></a>

