@model CocukYazini.Models.Entity.posttable
@{
    ViewBag.Title = "Post Önizleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 style="text-align:center; @*box-shadow:2px 2px grey;*@ padding:10px; border-radius:20px; margin:20px; color:dimgray;"><b>@Model.posttitle</b></h3>

            <img src="@Model.postphoto" style="text-align:center; width:100%!important; margin:20px;" alt="@Model.posttitle" />

            <h4 style="color:dimgray"><i><a href="@Url.Action("UserPosts", "Home" , new {id = @Model.userid})"><b>@Model.usertable.username @Model.usertable.usersurname</b></a> | @Model.posttime.Value.ToString("dd.MM.yyyy")</i></h4>

            <hr />
            @Html.Raw(Model.postcontent)

            <br />
            <i><h6 style="color:chocolate;"> İşbu Web sitesi ve tüm sayfaları Fikir ve Sanat Eserleri Kanunu'na tabidir ve içeriğine ilişkin her türlü ses, görüntü, yazı içeren bilgi-belge,marka ve her türlü fikri ve sınai haklar ile tüm telif hakları ve diğer fikri ve sınai mülkiyet hakları Çocuk Yazını'na aittir. </i></h6>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <br /><br />
        <a href="@Url.Action("Index", "Post")"><button type="button" class="btn btn-warning">Post Sayfasına Geri Dön</button>
        </a><br /><br /><br /><br />
    </div>
</div>
