@model CocukYazini.Models.Entity.usertable
@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    label {
        width: 200px;
    }
        .postheader {
        font-size: 25px;
        font-display: auto;
        font-style: oblique;
        margin-top: -54px;
        margin-left: 50px;
        color: coral;
    }
</style>
<h4 class="postheader">Kullanıcı Düzenle</h4>
<div class="container">
    <br />

    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <div class="mb-5">
                Kullanıcı İçeriği
                <hr />
                <h5>Aktif Post Sayısı</h5>
                @ViewBag.postlar
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <div class="mb-5">

                @using (Html.BeginForm("UpdateUser", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))

                {



                    <div class="form-control-static">
                        <label></label>
                        <img src="@Model.userphoto" height="200px;" /><br />
                        
                        <input type="file" name="userphoto" id="userphoto"/><br />
                        <label>Kullanıcı Numarası</label>
                        @Html.TextBoxFor(m => m.id, new { @readonly = "readonly" })
                        <br />
                        <label>Kullanıcı E-Mail</label>
                        @Html.TextBoxFor(m => m.usermail, new { @required = "required" })
                        <br />
                        <label>Kullanıcı Şifresi</label>
                        @Html.TextBoxFor(m => m.password, new { @required = "required", @type = "password" })
                        <br />
                        <label>Kullanıcı Adı</label>
                        @Html.TextBoxFor(m => m.username, new { @required = "required" })
                        <br />
                        <label>Kullanıcı Soyadı</label>
                        @Html.TextBoxFor(m => m.usersurname, new { @required = "required" })
                        <br />

                    </div>

                    <div style="margin-top: 15px">
                        <label></label><button class="btn btn-info">Güncelle</button>
                    </div>


                }
            </div>
        </div>

    </div>




</div>
<div stle="clear:left;"></div>

