<style>
    
    .icerik {
        width: 400px;
        float: left;
        margin: 10px;
        padding: 25px;
        text-align: center;
        border-left: 1px solid;
        border-bottom: 1px solid;
        border-color: coral;
    }


    .myButton {
        background-color: #6ccc86;
        border-radius: 28px;
        border: 1px solid #278530;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 12px;
        padding: 16px 31px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #26571e;
        margin-top: 10px;
    }

        .myButton:hover {
            background-color: #9de374;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

    .example_c {
        color: #494949 !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #ffffff;
        padding: 10px;
        border: 2px solid #494949 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
    }

        .example_c:hover {
            color: #ffffff !important;
            background: #f6b93b;
            border-color: #f6b93b !important;
            transition: all 0.4s ease 0s;
        }

    .ortala {
        
        
        position: relative;
        margin: auto;
        
    }

    .postheader {
        font-size: 25px;
        font-display: auto;
        font-style: oblique;
        /*text-align:center;*/
        /*border-bottom:solid 2px;
    border-color:cornsilk;*/
        margin:30px;
        color: coral;
        text-align:center;
    }
    .icerik h5{
        border-bottom:1px solid;
        border-color:lightgoldenrodyellow;
    }

    .ortala{
        width:100%!important;
    }

    .homepost {
        height: 850px;
    }
    .postbox{
        box-shadow:2px 2px grey;
        padding:5px;
        border-radius:20px;
    }
    
       
    
</style>
<hr />
<h4 class="postheader">Son Paylaşılanlar</h4>
<div class="container-fluid">
    <div class="row">

        @foreach (var post in Model)
        {
        <div class="col-md-4 mb-5 text-center postbox">
            


                <h5>@post.posttitle</h5><br />
                <img src="@post.previewphoto" style="max-width:120px; max-height:120px;"/><br />
                <br />
                <i><h6 style="color: seagreen;">Yazar : @post.usertable.username @post.usertable.usersurname </h6></i>
                <h6 style="color:peru">Tarih : @post.posttime</h6>
                <br />
                <div class="button_cont"><a class="example_c" href="@Url.Action("PostRead", "Sinemasal", new {id = post.id})" rel="nofollow noopener">Oku</a></div>
            
        </div>

                }
           
        </div>

        



       

    
</div>



<div style="clear:left;"></div>

