@using CocukYazini.Models.Entity
@model List<usertable>
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
    <style>
        .userlist {
            font-family: Calibri;
            font-size: 14pt;
            border: solid 1px;
            float: left;
            height: 250px;
            width: 250px;
            margin: 3px;
        }

            
            #kullanicilar{
                margin-left:200px;
            }
            .userlist img{
                padding:5px;
            }
            .userlist p{
                margin:5px;
            }
    </style>
    <div id="kullanicilar">
        <br />
        

        <div><h4>Kullanıcılar</h4>
            <a href="@Url.Action("NewUser", "Users")"> <button class="btn btn-info">Yeni Kullanıcı Ekle</button></a>
        </div>
        <hr />

        <style>
            .userlist {
                font-family: Calibri;
                font-size: 13pt;
                border: solid 1px;
                float: left;
                height: 220px;
                width: 250px;
                margin-left: 10px;
            }
        </style>


        @foreach (var user in Model)
        {

            <div class="userlist">
                <img src="@user.userphoto" height="100px" width="100px" />


                <p>@user.username @user.usersurname</p>

                <p>@user.usermail</p>
                @if (user.authority == 1)
                {
                    <p><b>Admin</b></p>
                }
                else
                {
                    <p>Kullanıcı</p>
                }
                @if (user.isaktif == 1)
                {
                    <p style="color:darkgreen" class="pull-right">Aktif Üye</p>
                }
                else
                {
                    <p style="color:red" class="pull-right">Yasaklı Üye</p>
                }


                <a href="@Url.Action("ShowUser", "Users" , new {id = user.id})">
                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                </a>
                <a href="@Url.Action("Sil", "Users" , new {id = user.id})" onclick="return confirm('Bu Kullanıcıyı Silmek İstediğinize Emin Misiniz?')"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

            </div>






        }




    </div>

    